body {
  position: relative;
  padding-top: 40px;
  margin: 0;
  font-family: Verdana,"Helvetica Neue", Helvetica, Arial, sans-serif;
  background: none repeat scroll 0 0 #2A2A2A;
  color: #404040;
}

body > .navbar {
  font-size: 13px;
  border-bottom: 2px solid #FF0000;
}

.block {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #BBBEAF;
    box-shadow: 0 0 4px #888888;
    margin: 15px auto;
}

.entry_title h1{
    font-size: 30px;
    font-weight: bolder;	
}

.entry_content h1, .entry_content h2, .entry_content h3, .entry_content h4 {
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    font-size: 25px;
    font-weight: bolder;
    line-height: 1;
    padding-top: 10px;
}

.window{
    margin: 15px auto;
}

.window_r{
    position: fixed;
    background: none repeat scroll 0 0 #101010;
    padding-left: 15px;
    color: #B5B9BE
}

.window_c{
    background: none repeat scroll 0 0 #F5F5F5;
    padding-left: 30px;
}

.s_line{
    margin: 15px auto;
}
