.codebox {
  margin: 20px 0 10px 0;
  font-family: 'Consolas', 'DejaVu Sans Mono', 'Courier New', monospace;
  background-color: #E7E7E7;
  border: 1px solid #E7E7E7;
}

span.code-lang {
  margin-left: 8px;
  font-size: 15px;
}
pre.prettyprint {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  overflow-x: auto;
}
pre.unprettyprint {
  background-color: #FFFFFF;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow-x: auto;
}
pre code {
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}
ol.linenums {
  margin: 0 0 0 0;
}
button.copy {
  font-size: 8px;
  background-color: #FFFFFF;
  padding: 2px 12px 0 12px;
  border-radius: 3px;
  border-width: 1px;
}
