.codebox{
    background: #F3F8D7;
    font-family: 'Consolas','DejaVu Sans Mono', 'Courier New', monospace;
    border-color: #555555;
    border-width: 2px;
    border-style: solid;
    margin: 20px 0 10px 0;
}

span.code-lang {
    margin: 0 0 0 5px;
    font-size: 15px;
}

pre.prettyprint{
    margin: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

code.prettyprint{
    margin: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

ol.linenums{
    margin: 0 0 0 35px;
}

button.copy{
    font-size: 8px;
    line-height: normal;
}
